# name: Metrics
# on:
  # Schedule updates (every Sunday at 00:00)
  #schedule: [{cron: "0 0 * * 0"}]
  # Manual trigger only
  #workflow_dispatch:
  # Only on metrics config changes
  #push: 
    #branches: ["master", "main"]
    #paths: [".github/workflows/metrics.yml"]
#jobs:
  #github-metrics:
    #runs-on: ubuntu-latest
    #permissions:
      #contents: write
      #actions: read
    #steps:
      #- uses: lowlighter/metrics@v3.34
       # with:
        #  token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          #user: gllmt
          #template: classic
          #base: header, community, repositories, metadata
          #config_timezone: Europe/Paris

          # Plugin achievements - DISABLED
          # plugin_achievements: yes
          # plugin_achievements_display: detailed
          # plugin_achievements_secrets: yes
          # plugin_achievements_threshold: C

          # Plugin activity - DISABLED
          # plugin_activity: yes
          # plugin_activity_limit: 5
          # plugin_activity_load: 300
          # plugin_activity_days: 14
          # plugin_activity_filter: all
          # plugin_activity_visibility: all
          # plugin_activity_timestamps: yes

          # Plugin calendar
          #plugin_isocalendar: yes
          #plugin_isocalendar_duration: half-year

          # Plugin languages
          #plugin_languages: yes
          #plugin_languages_analysis_timeout: 15
          #plugin_languages_categories: markup, programming
          #plugin_languages_colors: github
          #plugin_languages_limit: 8
          #plugin_languages_recent_categories: markup, programming
          #plugin_languages_recent_days: 14
          #plugin_languages_recent_load: 300
          #plugin_languages_sections: most-used
          #plugin_languages_threshold: 0%

          # Plugin lines
          # plugin_lines: yes

          # Plugin repositories
          #plugin_repositories: yes
          #plugin_repositories_affiliations: owner
          #repositories_batch: 100

          # Plugin stargazers - DISABLED
          # plugin_stargazers: yes
          # plugin_stargazers_charts: yes
          # plugin_stargazers_charts_type: classic

          # Plugin stars - DISABLED
          # plugin_stars: yes
          # plugin_stars_limit: 4 
